# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
env/
ENV/
.venv/

# Build and Dist
build/
dist/
*.egg-info/
*.zip

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDEs e Editores
.vscode/
.idea/
*.swp
